* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h2 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.dashboard {
    max-width: 2700px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
    padding: 20px;
}

.image-card {
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.image-card img {
    width: 100%;
    object-fit: cover;
}

.image-card .caption {
    padding: 15px;
    text-align: center;
}

.date-range {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    color: #333;
    margin-bottom: 10px;
}

.header p {
    color: #666;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button:hover {
    background: #f0f0f0;
}

.image-card.full-screen {
    margin: 0 auto;
    z-index:1000;
}

.image-card.full-screen .caption {
    display: none;
}


.floating-box {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 450px;
    transition: all 0.3s ease;
    z-index: 999;
  }

  .floating-box.fixed {
    position: fixed;
    top: 20px;
  }


  ul {
    background: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  li {
    margin-bottom: 5px;
  }